<h5>Lista de Torcedores</h5>
<form action="" method="post" enctype="multipart/form-data">
    <input type="submit" value="Baixar relatorio Ecxel" name="exportar" class="btn btn-primary">
</form>
<table class="table table-light table-hover text-center" id="listaTorcedores">
    <thead>
        <tr>
            <th scope="col">DOCUMENTO</th>
            <th scope="col">NOME</th>
            <th scope="col">TELEFONE</th>
            <th scope="col">EMAIL</th>
            <th scope="col">CEP</th>
            <th scope="col">ENDERECO</th>
            <th scope="col">BAIRRO</th>
            <th scope="col">CIDADE</th>
            <th scope="col">UF</th>
            <th scope="col">ATIVO</th>
        </tr>
        <!-- <tr>
            <td>{{documento}}</td>
            <td>{{nome}}</td>
            <td>{{telefone}}</td>
            <td>{{email}}</td>
            <td>{{cep}}</td>
            <td>{{endereco}}</td>
            <td>{{bairro}}</td>
            <td>{{cidade}}</td>
            <td>{{uf}}</td>
            <td>{{ativo}}</td>
        </tr> -->
    </thead>
</table>